
//
// VARIABLES
//

// Colors - Matcha Green Theme
$blue: #8ba888; // Medium matcha green for links
$matchaDark: #44624a; // Dark matcha green
$matchaMedium: #8ba888; // Medium matcha green  
$matchaLight: #c0cfb2; // Light matcha green
$matchaCream: #f1ebe1; // Cream background

// Grays
$black: #000;
$darkerGray: #44624a; // Dark matcha green for headings
$darkGray: #44624a; // Dark matcha green for text
$gray: #8ba888; // Medium matcha green
$lightGray: #c0cfb2; // Light matcha green
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}